In [4]:
import datetime
import pandas as pd
import numpy as np

# Basic date time operation

In [5]:
date_var = pd.to_datetime(['10/15/2019', np.datetime64('2019-10-15'),
                          datetime.datetime(2019, 10, 15)])
date_var

DatetimeIndex(['2019-10-15', '2019-10-15', '2019-10-15'], dtype='datetime64[ns]', freq=None)

In [6]:
data_var = pd.date_range('2019-10-5', periods=8, freq='D')
data_var

DatetimeIndex(['2019-10-05', '2019-10-06', '2019-10-07', '2019-10-08',
               '2019-10-09', '2019-10-10', '2019-10-11', '2019-10-12'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# Manipulating and converting date times with time zone information
# UTC means Universal Time Coordinated, world clock time
data_var = data_var.tz_localize('UTC')
data_var

DatetimeIndex(['2019-10-05 00:00:00+00:00', '2019-10-06 00:00:00+00:00',
               '2019-10-07 00:00:00+00:00', '2019-10-08 00:00:00+00:00',
               '2019-10-09 00:00:00+00:00', '2019-10-10 00:00:00+00:00',
               '2019-10-11 00:00:00+00:00', '2019-10-12 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [9]:
type(data_var)

pandas.core.indexes.datetimes.DatetimeIndex

In [10]:
# Convert to Eastern Time zone
data_var.tz_convert('US/Eastern')

DatetimeIndex(['2019-10-04 20:00:00-04:00', '2019-10-05 20:00:00-04:00',
               '2019-10-06 20:00:00-04:00', '2019-10-07 20:00:00-04:00',
               '2019-10-08 20:00:00-04:00', '2019-10-09 20:00:00-04:00',
               '2019-10-10 20:00:00-04:00', '2019-10-11 20:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='D')

In [11]:
idx = pd.date_range('2019-05-10', periods=7, freq='D')
ts = pd.Series(range(len(idx)), index=idx)
ts

2019-05-10    0
2019-05-11    1
2019-05-12    2
2019-05-13    3
2019-05-14    4
2019-05-15    5
2019-05-16    6
Freq: D, dtype: int64

In [13]:
ts_new = pd.DataFrame(range(len(idx)), index=idx)
ts_new

            0
2019-05-10  0
2019-05-11  1
2019-05-12  2
2019-05-13  3
2019-05-14  4
2019-05-15  5
2019-05-16  6

# Working with Timestamed Data

In [20]:
pd.Timestamp(datetime.datetime(2019,7,10))

Timestamp('2019-07-10 00:00:00')

In [22]:
pd.Timestamp('2019-07-10')

Timestamp('2019-07-10 00:00:00')

In [23]:
pd.Period('2019-10')

Period('2019-10', 'M')

In [24]:
pd.Period('2019-10', freq='D')

Period('2019-10-01', 'D')

In [25]:
pd.Period('2019-10', freq='M')

Period('2019-10', 'M')

In [26]:
pd.Period('2019-10', freq="S")

Period('2019-10-01 00:00:00', 'S')

In [27]:
# Create a list of timestamps

dates = [pd.Timestamp('2015-05-01'),
             pd.Timestamp('2015-05-02'),
             pd.Timestamp('2015-05-03')]
dates

[Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-02 00:00:00'),
 Timestamp('2015-05-03 00:00:00')]

In [28]:
ts = pd.Series(np.random.randn(3), dates)
ts

2015-05-01    0.154326
2015-05-02   -0.083561
2015-05-03    1.957732
dtype: float64

In [30]:
ts = pd.DataFrame(np.random.randn(3), dates)
ts

                   0
2015-05-01 -0.228345
2015-05-02 -0.522157
2015-05-03 -0.145673

In [32]:
print(type(ts.values))

<class 'numpy.ndarray'>

In [33]:
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [36]:
periods = [pd.Period('2017-07'), pd.Period('2017-08'), pd.Period('2017-09')]
periods

[Period('2017-07', 'M'), Period('2017-08', 'M'), Period('2017-09', 'M')]

In [39]:
ts = pd.DataFrame(np.random.randn(3), periods)
ts

                0
2017-07  0.029705
2017-08  0.782138
2017-09 -0.647095

In [40]:
dates = pd.date_range('2019-05-10', periods=10)
dates

DatetimeIndex(['2019-05-10', '2019-05-11', '2019-05-12', '2019-05-13',
               '2019-05-14', '2019-05-15', '2019-05-16', '2019-05-17',
               '2019-05-18', '2019-05-19'],
              dtype='datetime64[ns]', freq='D')

# Converting to DateTime

In [43]:
pd.to_datetime(pd.Series(['Jul 09, 2019', '2019-10-10',None]))

0   2019-07-09
1   2019-10-10
2          NaT
dtype: datetime64[ns]

In [44]:
 pd.to_datetime(['2015/07/10','2019.10.07'])

DatetimeIndex(['2015-07-10', '2019-10-07'], dtype='datetime64[ns]', freq=None)

In [45]:
pd.to_datetime(['10-12-2019 10:00'], dayfirst=True)

DatetimeIndex(['2019-12-10 10:00:00'], dtype='datetime64[ns]', freq=None)

In [46]:
pd.to_datetime('2019/10/11', format='%Y/%m/%d')

Timestamp('2019-10-11 00:00:00')

In [47]:
df = pd.DataFrame({'year': [2017, 2018, 2019],
                       'month': [3, 4, 5],
                       'day': [15, 16, 17],
                       'hour': [8, 9, 10]})

pd.to_datetime(df)

0   2017-03-15 08:00:00
1   2018-04-16 09:00:00
2   2019-05-17 10:00:00
dtype: datetime64[ns]

In [48]:
pd.to_datetime(df[['year', 'month', 'day']])

0   2017-03-15
1   2018-04-16
2   2019-05-17
dtype: datetime64[ns]

In [49]:
df.hour

0     8
1     9
2    10
Name: hour, dtype: int64

In [50]:
df.month

0    3
1    4
2    5
Name: month, dtype: int64